<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="header"><b>Identity Provider / Athorization Server</b></div>

    <h2>End Session</h2>

    <p>Logout {{subject}}?</p>

    <form action="/endsession-approve" method="post">
	<input type="hidden" name="sessionid" value="{{session_id}}">
	<input type="hidden" name="redirurl" value="{{redir_url}}">
	<button type="submit">Logout</button>
      </form>
      </p>
    </div>

  </body>
</html>
