<!DOCTYPE html>
<html>
  <style>
.header {
  background-color: #cf4C50;
  color: white;
  padding: 16px;
  font-size: x-large;
}
.framed {
  background-color: #fff9e6;
  border: 2px solid grey;
  border-radius: 5px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
  </style>
  <body>
    <div class="header"><b>Athorization Server</b></div>

    <h2>Step 2: Authenticate and authorize?</h2>

    <p>In this step we authorize who we are towards the identity-provider using e.g. username and password.</p>

    <form action="/approve" method="post">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <input type="hidden" name="reqid" value="{{ reqid}}">

      <p>Next, we authorize that tokens with the specified scope can be issued to the client.</p>

      <div class=framed>
	<p>Approve this client?</p>
	<b><p>{{client_id}}</p></b>
	<p>For these scopes:</p>
	<b><p>{{scope}}</p></b>

	<input type="submit" name="approve" value="Approve">
	<input type="submit" name="deny" value="Deny">
      </div>
    </form>

  </body>
</html>
