<!DOCTYPE html>
<html>
  <style>
.header {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: x-large;
}
  </style>
  <body>
    <div class="header"><b>Client</b></div>

    <h2>Step 1: Login</h2>

    <p>This is the initial step, where we select to login, and where scope defines which claims will be included in our identity-token.</p>

    <p>A 'claim' is metadata about a user, i.e. typically a client will request access to the user 'profile', i.e. request a token with the claim 'profile'. See <a href="https://openid.net/specs/openid-connect-basic-1_0.html#Scopes">OIDC Scopes</a> for a list of standardized scopes. Some typical scopes are:</p>

    <ul>
      <li>openid - indicates that this is an OpenID request. Needed for ID-tokens to be issued.</li>
      <li>profile - covers grants such as 'name' and 'birthdate'</li>
      <li>address</li>
      <li>email</li>
    </ul>

    <form action="/gettoken" method="post">
      <label for="scope"><b>Scope</b></label>
      <input type="text" placeholder="Enter scope" name="scope" value="openid profile" required>

      <button type="submit">Login</button>
    </form>

  </body>
</html>
